/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Responsive Styles */
@media(max-width: 1500px){
    .heading-contact{
        margin-bottom: 60px !important;
        margin-top: 90px;
    }
}

@media(max-width:1200px) {
    .form-origin{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 992px) {

    .navbar{
        width: auto;
    }

    .navbar-toggler-icon{
        background-color: white;
        color: aliceblue;
        margin: 10px 0px;
    }
    .nav-item .nav-link{
        color: white;
        font-size: 17px;
        font-weight: 600;
    }

    .logo{
        color: rgb(255,129,57) !important;
    }
    
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item{
        margin: 8px 0px;
    }

    .img-home{
        width: 420px;
        margin-right: 0px;
    } 

    .home-heading{
        font-size: 40px;
        font-weight: 700;
        line-height: 74px;
    }

    .box-container2{
        padding-left: 130px;
    }

    .img-about{
        height: 80%;
        width: 100%;
        position: static;
        top: 0px;
        right: 0px;
    }

    .img-founder{
        height: 80%;
        width: 100%;
        position: static;
        top: 0px;
        right: 0px;
    }

    .about-us-container{
        height: 100vh !important;
        margin-top: 100px;
    }

    .founder-container{
        height: 100vh !important;
        padding: 20px;
        margin-top: 200px;
        margin-bottom: 80px;
    }

    .about-us{
        margin-top: 0px;
        padding: 20px;
    }

    .founder{
        margin-top: 0px;
        padding: 20px;
    }
    .dance-category{
        width: 100%;
        height: auto;
        margin-top: 1000px;
    }

    .heading-dance{
        margin-top: 95px;
        margin-bottom: 80px;
    }

    .container-content{
        width: 90%;
        height: 350px;
    }

    .testimonial{
        
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .container-clients{
        height: auto;
    }

    .container-content{
        height: auto;
    }

    .carousel-indicators{
        position: absolute;
        bottom: -38px !important;
    }
}

@media  (max-width: 768px ){
    .content-home{
        height: auto;
    }

    .box-container{
        display: flex;
        justify-content: center;
    }

    .img-home{
        width: 500px;
        margin-top: 50px;
    }

    .about-us{
        margin-top: 140px;
        height: auto;
        padding: 15px;
    }

    .founder{
        margin-top: 140px;
        height: auto;
        padding: 15px;
    }

    .about-us-container{
        padding-top: 15rem !important;
        margin-bottom: 220px !important;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 17rem;
    }

    .founder-container{
        padding-top: 15rem !important;
        margin-bottom: 220px !important;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .dance-category{
        width: 100%;
        height: auto;
        margin-top: 90rem;
    }

    .home-heading{
        font-size: 46px;
        line-height: 82px;
        text-align: center;
    }

    .box-container2{
        padding-left: 0px;
    }

    .para-home{
        text-align: center;
        max-width: 100%;
    }

    .box-container{
        padding-left:0px ;
    }

    .btn-home{
        text-align: center;
    }

    .content-about{
        padding: 10px 20px;
    }

    .img-about, .img-founder{
        height: 100%;
    }

    .heading-dance{
        margin-bottom: 60px;
    }
}

